@mixin fadeIn{
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeIn 0.2s ease-in-out 0.2s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.3;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.collapse {
  margin: auto;
  margin-bottom: 2rem;
  width: 80%;
}
.header {
  background-color: #ff6060;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.content {
  background-color: #F6F6F6;
  margin-top: -2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  transition: height 200ms;
  @include fadeIn;
  p {
    color: #ff6060;
    font-size: 18px;
  }
  padding: 10px;
}

.open .content {
  max-height: 500px;
}

.checked {
  font-size: 25px;
  margin-right: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
.open .checked {
  transform: rotate(180deg);
}
