@mixin fadeIn{
  animation: fadeIn 0.2s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    height: 0px;
  }
  to {
    height: 100px;
  }
}

.collapse {
  margin: auto;
  margin-bottom: 2rem;
  width: 80%;
  position: relative;
}
.header {
  background-color: #ff6060;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.content {
  width: 100%;
  background-color: #F6F6F6;
  margin-top: -2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  @include fadeIn;
  .text { 
    color: #ff6060;
    height: 100%;
    display: flex;
    align-items: center;
    color: #ff6060;
    font-size: 18px;
  }
}
.checked {
  font-size: 25px;
  margin-right: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
.open .checked {
  transform: rotate(180deg);
}
span i{
  color: #fff;
}