*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
li{
  list-style-type: none;
}


img{
  object-fit: cover;
}
$primary: #FF6060;
$secondary: #F6F6F6;
$breakpoints: (
  laptop: 1370px,
  tablette: 1024px,
  phone: 720px,
 );
@mixin laptop{
  @media screen and (max-width: map-get($breakpoints, laptop)){
  @content;
  }
}
@mixin tablette{
  @media screen and (max-width: map-get($breakpoints, tablette)){
  @content;
  }
}
@mixin phone{
  @media screen and (max-width: map-get($breakpoints, phone)){
  @content;
  }
}