@import '../global/GlobalStyle.scss';

.allInfo{
  margin: 2rem 3rem;
  position: relative;
  @include phone{
    margin: 1rem;
  }

  h1, h4, p{
    color: #FF6060;
  }
} 
.infoBasic{
  display: flex;
  justify-content: space-between;
  position: relative;
  @include phone{
    display: inline;
  }

}